<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= recipe.Name %> 레시피</title>
</head>
<body>
    <h1><%= recipe.Name %></h1>
    <p><strong>재료:</strong> <%= recipe.Ingredients %></p>
    <p><strong>요리 방법</strong></p>
    <p> <%= recipe.Recipe %></p>
    <a href="/">메인 페이지로 돌아가기</a>
</body>
</html>
